/* Full-size screen */
.input_div {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.table-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}

p {
  margin: 0px;
  font-size: 18px !important;
  font-weight: 500;
}

th {
  color: black !important;
  font-weight: bold !important;
  text-align: left !important;
}
thead {
  position: sticky !important;
  top: 0px;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  border-style: hidden !important;
}

.mdl-layout__header {
  min-height: 0;
}

.mdl-layout__tab-bar {
  background-color: black !important;
}

.info_link {
  color: #ff9900;
}

.mdl-layout__tab {
  color: white !important;
  font-weight: bold;
}

body {
  background-color: #addbf1;
}

.mdl-layout__tab.is-active::after {
  background: white !important;
}

table tr {
  border-bottom: 2px gray;
  height: 100px !important;
  margin-bottom: 10px !important;
  text-align: right !important;
}

table th {
  border-bottom: none !important;
}

table td {
  height: 100px !important;
  word-wrap: break-word;
  /*white-space: pre-wrap; */
  overflow-wrap: break-word;
}

#type_data_table th,
#type_data_table td {
  text-align: right !important;
  padding-right: 20px;
}

#type_data_table .column1 {
  text-align: left !important;
}

.about_title {
  width: 80%;
  text-align: left;
  font-size: 75px;
}

.about_description {
  width: 100%;
  font-size: 20px;
  margin-top: 25px;
  text-align: justify;
}

.about_image {
  height: 100%;
  vertical-align: middle;
  float: right;
}

.about-container {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  border: solid rgb(230, 230, 230) 0.5px;
  background-color: rgb(251, 253, 255);
}

.links {
  margin-top: 75px;
  margin-bottom: 25px;
}

.about-header {
  padding-top: 88px;
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 50px;
}

.about-header-content {
  padding-left: 20%;
  padding-right: 15%;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 48px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 75px;
}

.faq_div {
  margin-top: 25px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.active,
.accordion:hover {
  background-color: rgb(99, 162, 224);
}

.accordion:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #addbf1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-weight: 300 !important;
  padding-bottom: 5px;
}

.faq_header {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

p.power {
  font-size: 15px !important;
}

p.bottom {
  text-align: center;
  width: 80%;
  font-size: 12px;
  margin-top: 0.5px;
  display: inline-block;
  margin-bottom: 0.5px;
  font-size: 15px !important;
}

.mdl-mini-footer {
  width: 100%;
  align-items: center;
  text-align: center !important;
  background-color: black;
  color: white;
  justify-content: center;
  margin: 1px !important;
  padding: 10px 10px;
  flex: 0 0 auto;
}

hr {
  margin-top: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.mdl-layout__content {
  flex: 1 0 auto;
}

/* Phone screen */
@media only screen and (max-width: 1575px) {
  .about_title {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
  }

  .about_description {
    font-size: 20px;
    margin: 25px auto;
    text-align: center;
  }

  .about_image {
    display: block;
    margin: auto;
    float: none;
  }

  .about_crystal_picture {
    display: block;
    margin: 0 auto;
    max-width: 75%;
  }

  .about-container {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 0.5px;
    background-color: rgb(251, 253, 255);
  }

  .links {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .about-header {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0;
  }

  .about-header-content {
    padding: 0;
  }

  .faq_div {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
  }

  .links {
    margin-top: 25px;
  }

  .about-header {
    width: 100%;
  }

  hr {
    margin-top: 50px;
  }

  .input_div {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
  }

  .table-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .embedding_slider_holder {
    /*width: 300px;*/
    width: 100%;
    margin: 2px;
    text-align: center;
  }

  .title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 2vh;
    vertical-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .toggle_words {
    display: inline-block;
  }

  .top_words {
    padding-top: 1%;
    /*color: rgb(51, 204, 51, .7);*/
    color: #292828;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces;
  }

  .least_words {
    /*color: rgb(255, 102, 102, .7);*/
    color: #969595;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces;
  }

  .article_link {
    width: 10px;
    color: black;
    /*padding-bottom: 5px;*/
    /*margin-bottom: 5px;*/
    /*line-height: 20px;*/
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  p {
    margin: 0px;
    font-size: 20px !important;
    font-weight: 300;
  }

  .logit {
    text-align: left !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .publication {
    color: gray;
    text-align: left !important;
    font-weight: bold !important;
    font-style: italic;
    font-size: 15px;
  }

  th {
    color: black !important;
    font-weight: bold !important;
    font-size: 22px !important;
  }

  .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .mdl-layout__header-row {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-style: hidden !important;
  }

  .mdl-layout__header {
    min-height: 0;
  }

  .mdl-layout__tab {
    color: white !important;
    font-weight: bold;
  }

  .mdl-layout__tab.is-active::after {
    background: black !important;
  }

  table tr {
    border-bottom: 2px gray;

    height: 100px !important;
    margin-bottom: 10px !important;
  }

  table th {
    border-bottom: none !important;
  }

  table td {
    height: 100px !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .mdl-layout__tab.is-active::after {
    background: white !important;
  }

  p.bottom {
    width: 100%;
  }
}
